/********** Application.rb styles **********/

html {
  position: relative;
  min-height: 100%;
}

.theme-showcase {
	margin-bottom: 120px;
}

.navbar-brand h3 {
	margin-top: 0;
}

footer p {
	color: #ffffff !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #345578;
	color: #ffffff;
	margin-top: 20px;
}

#social-wrapper {
	text-align: center;
}

#social-wrapper img {
	padding: 20px 10px 0 10px;
}

/*********** Index page styles ***********/

#name-header {
	display: inline-block;
}

#name-header h1 {
	display: inline-block;
	margin: 0 0 0 20px;
}

#name-header h3 {
	display: block;
	margin: 0 0 0 20px;
}

#pol-header {
	margin: 80px 0 30px 0;
}

.pol-title {
	text-align: center;
	margin: 0;
}

.table > tbody > tr > td {
	vertical-align: middle !important;
}

.cursor-pointer {
	cursor: pointer;
}

.pol-header {
	color: #3399F3;
}

#pol-score {
	font-size: 24px;
	font-weight: 700;
	color: #D90603;
} 
.jumbotron {
	background: image-url('/assets/us-capitol-300.png') no-repeat left center;
	height: 339px;
	width: 1020px;
	margin: 0 auto;
}

.header-copy {
	padding-left: 300px;
}

/*********** Show pages ***********/

#show-header {
	display: inline-block;
}

#show-score {
	display: inline-block;
	margin-left: 210px;
}

#show-score h2 {
	font-size: 50px;
	color: #B00200;
	text-align: center;
}


/*********** Lazy Highcharts ***********/


