<table>
	<thead>
		<tr>
			<th>Rank</th>
			<th>Name</th>
			<th>Party</th>
			<th>Trend</th>
		</tr>
	</thead>
		<tr>
			<td>1</td>
			<td>Jack Jones</td>
			<td>Republican</td>
			<td>+3</td>
		</tr>
		<tr>
			<td>2</td>
			<td>Sue Flaaco</td>
			<td>Democrat</td>
			<td>-1</td>
		</tr>
</table>